"""
Helper functions for: {{ problem.description }}

Utility functions shared between validate.py and user programs.
These functions are importable via: from helper import function_name
"""

import numpy as np
# TODO: Add necessary imports


# TODO: Add helper functions here
# Example:
# def compute_distance(p1: np.ndarray, p2: np.ndarray) -> float:
#     """Compute Euclidean distance between two points."""
#     return np.linalg.norm(p1 - p2)
