{% if add_helper %}
from helper import *
{% endif %}


def entrypoint({{ entrypoint.params | join(', ') }}):
    """
    {{ program_description }}
    {% if entrypoint.inputs %}

    Args:
        {{ entrypoint.inputs }}
    {% endif %}

    Returns:
        {{ entrypoint.returns | default("Solution matching problem specification") }}
    """
    # TODO: Implement strategy

    pass
